app = "openbook-candles-worker"
kill_signal = "SIGTERM"
kill_timeout = 30

[build]
  dockerfile = "../Dockerfile.worker"

[experimental]
  cmd = ["worker", "markets.json"]

[metrics]
  port = 9091
  path = "/metrics"